@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@400;500;700&family=Marcellus&family=Poppins:wght@200;300;400;500;600;700;800;900&family=Questrial&display=swap");

*{
    margin: 0;
    padding: 0;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;
}

.menu_page{
    display: flex;
}
.side_bar{
    top: 0;
    bottom: 0;
    height: 100vh;
    background: #f8fadb;
    width: 25rem;
    overflow: hidden;
    transition: width 0.2s linear;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
    position: -webkit-sticky;
    position: sticky;
}

.side_bar_title {
    color:#e0403f;
    font-size: 34px;
    margin-left: 9rem;
    width: 300px;
    padding: 10px;
    margin-top: 2rem;
}

.side_bar_items {
    margin-top: 1rem;
}

.side_item{
    margin-left: 9rem;
    color: #e0403f;
    font-size: 14px;
    display: table;
    width: 300px;
    padding: 13px;
}

.side_item_beta {
    margin-left: 9rem;
    color: #e0403f;
    font-size: 12px;
    display: table;
    width: 300px;
    padding: 13px;
    text-decoration: underline;
}

/* RIGHT MENU SIDE */

.main_menu {
    width: 75rem;
    background:#e0403f;
}

.new{
    padding: 10px;
    margin-top: 2rem;
}

.new_title{
    margin-left: 20px;
    color:#f8fadb;
    font-size: 40px;
}
.new_item {
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    margin: 10px;
    border: 1px solid #C83635;
    position: relative;
}

.new_text {
    top: 0.5rem;
}
.new_items {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
}

.new_item_img {
    width: 100%;
}

.add_cart {
    width: 50px;
    height: 50px;
    border-radius: 20px;
    margin-left: 11.5rem;
}

