@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@400;500;700&family=Marcellus&family=Poppins:wght@200;300;400;500;600;700;800;900&family=Questrial&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  position: -webkit-sticky;
}
body {
  font-family: "Poppins", sans-serif;
  /*font-family: 'Marcellus', serif;
    font-family: 'Alegreya Sans SC', sans-serif;
    font-family: 'Questrial', sans-serif;*/
}

.navbar_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 14vh;
  /*background: linear-gradient(90deg, #f94626, #f02328);*/
  background: #e0403f;
  z-index: 999;
  overflow: hidden;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
  position: sticky;
  top: 0;

}

#right-links.open {
  display: flex;
}

#right-links.close {
  display: none;
}



#right-links {
  display: flex;
  width: 100%;
  /*border: 1px solid #fff;*/
  display: flex;
  align-items: center;
  margin-top: 0rem;
  justify-content: right;
  float: right;
}
.item1 {
  justify-content:left;
  /*border: 1px solid;*/
  display: flex;
}
.navbar {
  width: 80%;
  /*border: 1px solid #fff;*/
  display: flex;
  align-items: center;
  margin-top: 0rem;
}


.logo {
  width: 80px;
  height: 80px;

}
.item {
  list-style-type: none;
  text-decoration: none;
  color: #f8fadb;
  font-size: 12px;
  font-weight: 500;
  transition: all 0.3s ease-in-out;
  padding-right: 2rem;
}

.item:hover {
  color: #ffe91e;
}


.cart_container {
  display: flex;
}

.cart {
  position: relative;
  color: #fff;
  transition: all 0.3s ease-in-out;
  width: 30px;
  height: 30px;
  border-radius: 30px;
  background: #fff;
  font-size: 12px;
  font-weight: 500;
  padding: 3px 4px;
  box-shadow: 0px 5px 10px rgb(0, 0, 0, 0.5);
  transition: 0.1s;
}

.cart:hover {
  color: #ffe91e;
  transform: scale(1.1);
  backface-visibility: hidden;
}

.cart_count {
  font-size: 10px;
  width: 13px;
  height: 13px;
  background: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.item:focus-visible {
  /* Styles for the active link */
  color: yellow; 
  border: 1px solid yellow;
  font-weight: bold; 
}

.menu {
  display: none;
  position: absolute;
  top: 2rem;
  right: 2rem;
  flex-direction: column;
  justify-content: space-between;
  width: 2.5rem;
  height: 2rem;
}

.menu span {
  height: 0.4rem;
  width: 100%;
  background-color: white;
  border-radius: 0.2rem;
}

.icon {
  display: none;
}

@media (max-width: 820px) {



  .icon {
    display: flex;
  }

  #right-links {
    display: none;
    flex-direction: column;
    width: 100%;
    margin-bottom: 0.25rem;
  }
}